$darkGray: #444444;
$blue: #2d8dbb;

* {
    box-sizing: border-box;
}
body, html {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background: #224e63;
    margin: 0;
}
header {
    margin: 0;
    padding-top: 2rem;
    position: relative;
    background: white;
    box-shadow: 0 0 3rem 0 white;

    svg {
        zoom: 0.3;
        transform: rotate(90deg) scaleY(0.9) scaleX(0.7);
        position: relative;
    }
    h1 {
        display: inline-block;
        font-size: 3rem;
        color: $darkGray;
        position: relative;
        text-decoration: overline;
        text-transform: lowercase;
    }
}
h2 {
    font-size: 2.25rem;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
li {
    list-style: none;
    margin: 0.9rem;
}

.light-group {
    padding: 1.5rem;
    background-color: #e0e0e0;
    border: none;

    button {
        cursor: pointer;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 2px;
        font-size: 1.5rem;
    }
    .lg-toggle {
        box-shadow: 0  0 0.3rem 0.3rem #ccc;
        transition: background 0.2s;

        &.on {
            background-color: #02c155;
        }
        &.off {
            background-color: #065a83;
        }
    }
    .lg-details-toggle {
        margin-left: 1rem;
        background: none;
        float: right;
        color: $darkGray;
    }
}

.lg-details {
    box-shadow: inset 0 0 0.3rem 0.3rem #ccc;
    padding: 0.5rem;
    display: none;
    margin-top: 1rem;
    background: #ddd;

    &.expanded {
        display: block;
    }
}

.lg-brightness-slide {
    -webkit-appearance: none;
    width: 100%;

    &::-webkit-slider-runnable-track {
        background: $darkGray;
        height: 0.2rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        height: 1.75rem;
        width: 1.75rem;
        background: $blue;
        border-radius: 50%;
        margin-top: -0.875rem;
    }

    &:focus {
        outline: none;
    }
}

section.control-panel {
    background-color: rgb(59, 102, 123);
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;

    h2 {
        color: white;
        padding-left: 1rem;
    }
}