* {
    box-sizing: border-box;
}
body, html {
    background: #ccc;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}
h1 {
    font-size: 3rem;
}
li {
    list-style: none;
}

button {
    padding: 1.5rem;
    background-color: #e0e0e0;
    font-size: 1.5rem;
    border: none;
}