@font-face {
	font-family: 'Kanit';
	src: url('/Kanit-Light.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kanit', sans-serif;
}

fieldset {
	border-radius: 5px;
	border-color: var(--sx-gray-200);
}
.card.clickable {
	border-width: 2px;
}
