doctype html
html
    head
        title= "Admin - Overseer"
        style.
            :root {
                --td-svg-size: 0.6rem;
            }
            td {
                border: 1px solid gray;
            }
            * {
                font-family: 'Roboto', sans-serif;
            }
            th {
                padding-right: 1rem;
            }
            section.booker {
                display: inline-block;
                margin: 2rem;
            }
            #svg-source {
                display: none;
            }
            td svg {
                width: var(--td-svg-size);
            }
            td button{
                float: right;
                padding: 4px;
                line-height: var(--td-svg-size);
            }
        link(rel='icon', href='/favicon.png')
        link(href='/css/dark.css', rel='stylesheet')
        script(src="/socket.io/socket.io.js")
        link(href='//fonts.googleapis.com/css?family=Roboto', rel="stylesheet")
    body
        svg#svg-source
            include ../svg/logo.svg
            include ../svg/chevron-icon.svg
            include ../svg/chevron-icon-bold.svg
            include ../svg/settings-icon.svg
            include ../svg/x-icon.svg
        div#react-mount
        script(src='/admin/main.js')
