extends layout
block content
    div#bg-overlay-texture.bg-overlay
    div#bg-overlay-fade.bg-overlay
    div#react-mount
    script.
        window.user = !{user};
        window.Booker = !{permissions};
    script(src="/js/main.js")
