doctype html
html
    head
        title= "Overseer"
        link(rel='stylesheet', href='/css/style.css')
        link(rel='icon', href='/favicon.png')
        script(src="/socket.io/socket.io.js")
        script.
            const socket = io();
        meta(name='viewport',  content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#24252b')
        meta(property='og:title', content='Overseer')
        meta(property='og:site_name', content='Overseer')
        meta(property='og:image', content='/favicon.png')
        meta(property='og:description', content='LAN tools and home control.')
        meta(property='description', content='LAN tools and home control.')
        link(href='//fonts.googleapis.com/css?family=Roboto', rel="stylesheet")
        link(href='//fonts.googleapis.com/css?family=Ceviche+One', rel="stylesheet")
    body
        svg#svg-source
            include ../svg/light-icon.svg
            include ../svg/echo-icon.svg
            include ../svg/logo.svg
            include ../svg/chevron-icon.svg
            include ../svg/chevron-icon-bold.svg
            include ../svg/voter-icon.svg
            include ../svg/settings-icon.svg
            include ../svg/x-icon.svg
            include ../svg/down-icon.svg
            include ../svg/details-icon.svg
            include ../svg/lock-icon.svg
            include ../svg/reset-icon.svg
        block content
