doctype html
html
    head
        title= title
        style.
            td {
                border: 1px solid gray;
            }
            * {
                font-family: 'Roboto', sans-serif;
            }
            th {
                padding-right: 1rem;
            }
        link(rel='icon', href='/favicon.png')
        meta(name='viewport',  content='width=device-width, initial-scale=1')
        link(href='//fonts.googleapis.com/css?family=Roboto', rel="stylesheet")
        script(src='/js/proxy-main.js')
    body
        h1= title
        ul
            for proxy in proxies
                li
                    a(href='/p/' + (proxy.abbreviation ? proxy.abbreviation : proxy.name) + '/')= proxy.name
                    p= proxy.description
