doctype html
html
    head
        title= "Admin - Overseer"
        style.
            #svg-source {
                display: none;
            }
        link(rel='icon', href='/favicon.ico')
        link(href='//fonts.googleapis.com/css?family=Roboto', rel="stylesheet")
        link(rel="stylesheet", href="/fontawesome-free/css/all.min.css")
    body
        svg#svg-source
            include ../../static/svg/logo.svg
        div#app-root
        script(src=manifest['admin.js'])
