doctype html
html
	head
		title= "Admin - Overseer"
		style.
			#svg-source {
				display: none;
			}
		meta(name='viewport',  content='width=device-width, initial-scale=1')
		link(rel='icon', href='/favicon.ico')
		link(rel="stylesheet", href="/fontawesome-free/css/all.min.css")
		if !development
			each fileName in cssImports
				link(rel="stylesheet", href=`/${fileName}`)
	body
		svg#svg-source
			include ../../static/assets/logo-favicon.svg
		div#app-root
		if development
			script(type="module", src="http://localhost:5173/@vite/client")
			script(type="module", src="http://localhost:5173/src/static/admin/admin-main.ts")
		else
			script(src=`/${scriptEntryFile}`, type="module")
