extends layout
block content
    div#app-root
    script.
        window.user = !{user};
        window.serverMetadata = !{serverMetadata};
        window.Booker = !{permissions};
        window.__INITIAL_STATE__ = !{initialData};
    script(src='/' + manifest['main.js'])
