extends layout
block content
	div#app-root
	script.
		window.__APP_BOOTSTRAP__ = !{appBootstrap}
	if development
		script(type="module", src="http://localhost:5173/@vite/client")
		script(type="module", src="http://localhost:5173/src/static/main.ts")
	else
		script(src=`/${scriptEntryFile}`, type="module")
