@import '../../node_modules/sass-material-colors/sass/sass-material-colors';

$color-blue: rgb(61, 180, 242);
$color-pink: material-color('pink', '600');
$accent-cyan: material-color('cyan', '500');
$accent-purple: material-color('purple', '600');
$accent-mint: rgb(2, 253, 138);
$accent-red: rgb(220, 64, 99);
$darkGray: material-color('grey', '800');

$background-light: rgb(39, 44, 56);
$background-lighter: lighten($background-light, 6%);
$background-dark: darken($background-light, 6%);
$background-blue: darken($color-blue, 10%);
