@import 'colors';
@import 'mixins';

//container for a label + input/select
.control {
    $baseHeight: 2.5rem;
    $padding: 0.3rem;
    $innerHeight: $baseHeight - (2 * $padding);
    $focusBorderColor: $accent-cyan;
    display: flex;

    vertical-align: middle;
    margin-bottom: 0.5rem;

    .input-with-button {
        display: flex;
        flex-grow: 3;
    }
    @media(max-width: 30rem) {
        flex-direction: column;
        label {
            text-align: left !important;
        }
        .input-with-button {
            display: flex;
            flex-direction: row;
            input, select {
                flex-grow: 2;
            }
            button {
                flex-grow: 0.25;
            }
        }
    }


    > * {
        line-height: $innerHeight;
        height: 100%;
        transition: border 0.2s;
    }

    label {
        font-weight: bold;
        flex-grow: 1;
        text-align: right;
        font-size: 1.1rem;
        padding-right: 0.5rem;
        border-radius: 0.2rem 0 0 0.2rem;
        white-space: nowrap;
    }
    button {
        height: $baseHeight;
    }
    input, select {
        flex-grow: 2;
        color: white;
        font-size: 1.1rem;
        height: $baseHeight;
        border: none;
        border-radius: 0.1rem;
        border-bottom: 0.2rem solid #364962;
        padding-left: 0.5rem;
        &:focus {
            border-color: $focusBorderColor;
            outline: none;
        }
        &.dirty {
            border-color: material-color('amber', '500');
        }
        &.invalid {
            border-color: material-color('red', '500');
        }
        &.valid {
            border-color: material-color('green', '500');
        }
        &[readonly] {
            border-bottom: none;
            background-color: transparent;
        }
    }
}
label {
    font-size: 1.1rem;
}
button, input[type=submit], .as-button {
    @include button();
    @include light-button();
}

@keyframes backandforth {
    from {
        padding-left: 0;
    }
    to {
        padding-left: calc(100% - 3rem);
    }
}
progress {
    -webkit-appearance: none;
    background: $bg-2;
    border-radius: 0.1rem;

    &::-webkit-progress-bar {
        background: $bg-3;
    }
    &::-webkit-progress-value {
        background: $color-blue;
        border-radius: 0.1rem;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }
    &:not([value]) {
        margin: 0;
        animation: backandforth 1s ease-in-out infinite alternate;
        &::-webkit-progress-value {
            width: 3rem !important;
        }
    }
}

.button-dock {
    position: relative;
}

@mixin spaced-apart-buttons {
    button {
        margin: 0.2rem;
    }
}
.docked-buttons {
    position: absolute;
    right: 0;
    top: 0;
    @include spaced-apart-buttons();
}
.centered-buttons {
    display: flex;
    justify-content: center;
    @include spaced-apart-buttons();
}

.buttons-on-right {
    display: flex;
    justify-content: flex-end;

    button:not(:last-child) {
        margin-right: 0.3rem;
    }
}
