@import 'colors';

#games {
    a.download, .delete {
        @include faint-shadow();
        text-align: center;
        color: material-color('grey', '800');
        background: $defaultAccent;
        text-decoration: none;
        padding: 0.2rem 0.5rem;
        border-radius: 0.1rem;
        border: none;

        &:not(:first-child) {
            margin-left: 0.5rem;
        }
    }

    tr {
        line-height: 2rem;

        td:not(:first-child) {
            padding-left: 2rem;
        }
    }
}