@import 'colors';
@import 'mixins';

#games {
    $padding: 0.2rem 0.5rem;

    a.download, .delete {
        @include button();
        @include light-button();

        &:not(:first-child) {
            margin-left: 0.5rem;
        }
    }

    tr {
        line-height: 2rem;

        td:not(:first-child) {
            padding-left: 2rem;
        }
    }
}