@import 'colors';
@import 'mixins';

th {
    font-weight: bold;
    text-align: center;
}

#games {
    $padding: 0.2rem 0.5rem;

    table {
        border-collapse: collapse;
    }

    a.download, .details {
        height: 2rem !important;

        svg {
            vertical-align: top !important;
        }
    }

    a.download {
        @include button();
        @include light-button();
    }
    .details {
        margin-left: 0.5rem;
    }

    tr {
        line-height: 2rem;

        td, tr{
            &:not(:first-child) {
                padding-left: 2rem;
            }
        }

        &:hover {
            background-color: $neon-background;
        }
    }
    progress {
        width: 8rem;
    }
    .relevancy-indicator {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 0.1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}

#echo-uploader {
    label {
        display: block;
    }
    textarea {
        width: 30rem;
        height: 15rem;
    }
    form button[type=submit] {
        margin-right: 1rem;
    }
}

#echo-details {
    label {
        display: block;
    }
    textarea {
        width: 100%;
        min-width: 30rem;
        height: 15rem;
    }
    table {
        td:first-child {
            font-weight: bold;
        }
    }
    button {
        margin-right: 1rem;
    }
    .action-buttons {
        margin-top: 1rem;
        float: right;
        > *:not(:last-child) {
            margin-right: 0.5rem;
        }
        > *:last-child {
            margin-right: 0;
        }
    }
    a.download{
        @include button();
        @include light-button();
        padding-top: 0.6rem;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0.05rem 0.05rem
    }
    to {
        box-shadow: 0 0 0.05rem 0.1rem;
    }
}

.pulse {
    display: inline-block;
    border-radius: 100%;
    border-width: 0.5rem;
    border-style: solid;
    margin: 0 0.5rem;
    animation: pulse 0.5s infinite alternate;
    &.online {
        $green: #02c155;
        border-color: $green;
        color: $green;
    }
    &.offline {
        border-color: red;
        color: red;
    }
}
.g-name a {
    color: $accent-blue;
}

@media (max-width: 900px) {
    .g-size, .g-date, .g-actions, .to-upload {
        display: none !important;
    }
}

.tag-suggestion {
    background: $accent-pink;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    white-space: nowrap;
    float: left;
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;

    .plus-character {
        color: rgba(255, 255, 255, 0.3);
        display: inline-block;
        font-weight: bold;
        width: 0.5rem;
        text-align: center;
    }
    &.selected {
        background: $neon-background;
        &:hover {
            background: lighten($neon-background, 10%);
        }
    }
    &:hover {
        background: lighten($accent-pink, 10%);
    }
}
.tag-cloud {
    max-width: 40rem;

    + * {
        clear: both;
    }
}

#g-search {
    width: calc(75% - 4rem);
}