@import 'colors';

$footerHeight: 8rem;
footer {
    position: absolute;
    bottom: 0;
    height: $footerHeight;
    background: darken($background, 5%);
    //TODO BREAKPOINTS
    padding: 2rem 25% 1rem 25%;
    color: white;
    width: 100%;

    a {
        color: white;
        text-decoration: underline;
    }

    .user {
        display: flex;
        flex-wrap: wrap;
        img {
            margin-right: 0.5rem;
        }
    }
}
main.content {
    padding-bottom: $footerHeight;
}
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}