@import 'mixins';
@import 'colors';

header {
    margin: 0 0 1rem 0;
    padding: 2rem 0;
    position: relative;
    background: $neon2;
    text-align: center;

    &.disconnected {
        background: red;

        h1 {
            color: white;
        }
    }

    .content-container {
        display: inline-block;
    }

    svg, h1 {
        height: 6rem;
        vertical-align: middle;
        fill: white;
    }
    .logo-container {
        width: 0;
        position: relative;
    }
    svg {
        position: absolute;
    }
    //shadow svg
    svg:first-of-type {
        fill: $accent-pink;
        margin: -0.2rem 0 0 0.2rem;
    }
    h1 {
        display: inline-block;
        font-size: 3rem;
        color: white;
        position: relative;
        text-transform: lowercase;
        margin: 0 0 0 6rem;
        transform: translateY(25%);
        text-shadow: 0.2rem -0.2rem 0 $accent-purple;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
