@import 'colors';

$onAccentColor: $defaultAccent;

.light-group {
    min-width: 20rem;

    button {
        cursor: pointer;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white;
        border: none;
        font-size: 1.5rem;
        transition: background 0.2s;
        height: 3rem;

        &:hover {
            background: lighten(material-color('grey', '700'), 5%);
        }

    }
    .lg-toggle {
        @include dark-bg();
        border-left: 1rem solid;
        transition: border 0.2s, background 0.2s;
        width: 80%;
        text-align: left;
        border-radius: 2px 0 0 2px;

        &.on {
            border-color: $onAccentColor;
            &:hover {
                background: lighten($onAccentColor, 5%);
            }
        }
        &.off {
            border-color: material-color('grey', '700');
        }
    }
    .lg-details-toggle {
        @include dark-bg();
        width: 20%;
        float: right;
        border-radius: 0 2px 2px 0;

        svg {
            transition: 0.2s;
            fill: white;
        }
        &.expanded svg {
            transform: scaleY(-1);
        }
    }
}

.lg-details {
    box-shadow: inset 0 0 0.3rem 0.3rem #ccc;
    padding: 0.5rem;
    display: none;
    margin-top: 1rem;
    background: #ddd;

    &.expanded {
        display: block;
    }
}

.lg-brightness-slide {
    -webkit-appearance: none;
    width: 100%;

    &::-webkit-slider-runnable-track {
        background: material-color('grey', '800');
        height: 0.2rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        height: 1.75rem;
        width: 1.75rem;
        background: $onAccentColor;
        border-radius: 50%;
        margin-top: -0.875rem;
    }

    &:focus {
        outline: none;
    }
}
