@import 'colors';
@import 'mixins';

$onAccentColor: $color-blue;

.light-group {
    min-width: 20rem;

    button {

        &:hover {
            background: lighten(material-color('grey', '700'), 5%);
        }

    }

    .lg-button-group {
        @include illuminated-toggle-buttons();
    }
    .lg-toggle {
        width: 80%;
    }
    .lg-details-toggle {
        width: 20%;
        float: right;

        &.expanded svg {
            transform: scaleY(-1);
        }
    }
}

.lg-details {
    padding: 0.5rem;
    display: none;
    background: $background-dark;

    &.expanded {
        display: block;
    }
}

.lg-brightness-slide {
    -webkit-appearance: none;
    width: 100%;

    &::-webkit-slider-runnable-track {
        background: material-color('grey', '800');
        height: 0.2rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        height: 1.75rem;
        width: 1.75rem;
        background: $onAccentColor;
        border-radius: 50%;
        margin-top: -0.875rem;
    }

    &:focus {
        outline: none;
    }
}
