@import 'colors';

$onAccentColor: $defaultAccent;

.light-group {
    button {
        cursor: pointer;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 2px;
        font-size: 1.5rem;
    }
    .lg-toggle {
        @include faint-shadow();
        border-left: 1rem solid;
        background: material-color('grey', '800');
        color: material-color('grey', '200');
        transition: border 0.2s;

        &.on {
            border-color: $onAccentColor;
        }
        &.off {
            border-color: material-color('grey', '700');
        }
    }
    .lg-details-toggle {
        margin-left: 1rem;
        background: none;
        float: right;
        color: material-color('grey', '800');
    }
}

.lg-details {
    box-shadow: inset 0 0 0.3rem 0.3rem #ccc;
    padding: 0.5rem;
    display: none;
    margin-top: 1rem;
    background: #ddd;

    &.expanded {
        display: block;
    }
}

.lg-brightness-slide {
    -webkit-appearance: none;
    width: 100%;

    &::-webkit-slider-runnable-track {
        background: material-color('grey', '800');
        height: 0.2rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        height: 1.75rem;
        width: 1.75rem;
        background: $onAccentColor;
        border-radius: 50%;
        margin-top: -0.875rem;
    }

    &:focus {
        outline: none;
    }
}
