@import 'colors';

@mixin faint-shadow {
    box-shadow: 0 0 0.05rem 0.05rem material-color('grey', '900');
}

@mixin dark-bg {
    background: material-color('grey', '800');
    color: material-color('grey', '200');
}

@mixin button {
    display: inline-block;
    color: white;
    background: $background;
    cursor: pointer;
    transition: border 0.2s, background 0.2s;
    padding: 0.3rem 1rem 0.2rem 1rem;
    border: none;
    border-radius: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    height: 3rem;
    vertical-align: top;

    svg {
        width: 1.5rem;
        vertical-align: middle;
    }
    &:hover {
        color: $accent-mint;
        svg {
            fill: $accent-mint;
        }
    }
}

@mixin light-button {
    @include button();
    $backgroundColorDisabled: darken($background, 2%);
    $textColor: $accent-blue;
    $textColorDisabled: $background;
    color: $textColor;

    &:hover {
        background: lighten($background, 10%);
    }

    &:disabled, &.disabled {
        cursor: default;
        background: $backgroundColorDisabled;
        border-color: $backgroundColorDisabled !important;
        color: $textColorDisabled;
        svg {
            fill: $textColorDisabled;
        }
    }

    svg {
        transition: 0.2s;
        fill: $textColor;
    }
}

@keyframes left-glow {
    from {

    }
    to {
        box-shadow: -0.25rem 0 0.2rem -0.2rem $accent-blue;
    }
}

@mixin illuminated-toggle-buttons {
    $illuminateColor: $accent-cyan;

    button {
        @include light-button();
        text-align: left;

        &:first-of-type {
            border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
            border-radius: 0 2px 2px 0;
        }



        &.illuminated-target {
            border-left: 1rem solid;
            &.on {
                animation: left-glow 1s infinite alternate;
                border-color: $illuminateColor;
            }
            &.off {
                border-color: $background;
            }
        }
    }
}

@mixin dark-button {

}
