@import 'colors';

.switchboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes pop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes glow {
    from {

    }
    to {
        box-shadow: 0 1rem 1rem -0.9rem $accent;
    }
}

.panel.switch-panel {
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    text-align: center;

    &:hover {
        animation: pop 0.1s ease-out forwards,
            glow 1s ease-out infinite alternate;
    }

    a {
        text-decoration: none;
    }
    h2 {
        padding-left: 0;
    }
}

.switch-icon {
    transform: scale(0.75);
    fill: $background;
    margin-top: -1.75rem;
    margin-bottom: -4rem;
}