@import 'colors';
@import 'mixins';

.switchboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes pop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.02);
    }
}

$shading: 0 0 0.05rem 0.05rem material-color('grey', '900'),
            inset 0 0.2rem 0.2rem 0 lighten($background, 15%);
@keyframes glow {
    0% {
        //box-shadow: 0 0 0 -0.9rem $accent-blue, #{$shading};
        box-shadow: 0 0.7rem 1.6rem -0.9rem $accent-pink, #{$shading};
    }
    50% {
        box-shadow: 0 0.7rem 1rem -0.9rem $accent-purple, #{$shading};
    }
    100% {
        box-shadow: 0 0.7rem 1.6rem -0.9rem $accent-pink, #{$shading};
    }
}

.panel.switch-panel {
    color: white;
    background: lighten($background, 5%);
    //background-position: 0 0;
    //background-attachment: fixed;
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    text-align: center;
    border-top: 1px solid material-color('cyan', '200');
    border-bottom: 1px solid black;
    box-shadow: #{$shading};

    &:hover {
        animation: pop 0.06s ease-out forwards,
            glow 2s ease-in-out infinite alternate;
        h2 {
            animation: glitch-flash 0.1s;
        }
    }

    a {
        text-decoration: none;
    }
    h2 {
        padding-left: 0;
    }
}

.switch-icon {
    transform: scale(0.75);
    fill: darken($background, 5%);
    margin-top: -1.75rem;
    margin-bottom: -4rem;
}
