@import 'colors';
@import 'mixins';

.switchboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes pop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.02);
    }
}

$shading: 0 0 0.05rem 0.05rem material-color('grey', '900'),
            inset 0 0.2rem 0.2rem 0 $bg-2;
@keyframes glow {
    0% {
        box-shadow: 0 0.7rem 1.6rem -0.9rem $color-pink, #{$shading};
    }
    50% {
        box-shadow: 0 0.7rem 1rem -0.9rem $accent-purple, #{$shading};
    }
    100% {
        box-shadow: 0 0.7rem 1.6rem -0.9rem $color-pink, #{$shading};
    }
}

.panel.switch-panel {
    color: $color-blue;
    background: $bg-1;
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    text-align: center;
    border-top: 1px solid $color-blue;
    border-bottom: 1px solid black;
    box-shadow: #{$shading};

    &:hover {
        border-top-color: $color-pink;
        animation: pop 0.06s ease-out forwards,
            glow 2s ease-in-out infinite alternate;
        h2 {
            animation: chromatic-aberration-small 0.1s;
            color: $color-pink;
        }
    }

    a {
        text-decoration: none;
    }
    h2 {
        padding-left: 0;
    }
}

.switch-icon {
    transform: scale(0.75);
    fill: $bg-dark-1;
    margin-top: -1.75rem;
    margin-bottom: -4rem;
}
