#toaster {
    position: fixed;
    right: 0;
    z-index: 9999999;

    .toast {
        text-overflow: ellipsis;
        border-bottom: 1px solid $color-blue;

        h1 {
            font-size: 1.1rem;
            max-width: 30rem;
            margin-top: 0;
            color: $color-blue;
        }
        a {
            color: white;
        }
        color: white;
        background-color: $background-dark;
        margin: 1rem;
        padding: 0.5rem;
    }
}
