#toaster {
    position: fixed;
    right: 0;
    z-index: 9999999;

    .toast {
        text-overflow: ellipsis;

        h1 {
            font-size: 1.1rem;
            max-width: 30rem;
            margin-top: 0;
        }
        a {
            color: white;
        }
        color: white;
        background-color: darken($background, 5%);
        border: 1px solid $accent-pink;
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 0.5rem;
    }
}