@import 'colors';
@import 'mixins';

.voter-panel {
    min-width: 34rem;
}
.race-list {
    select {
        width: 62%;
        float: none;
    }
    .race-remove {
        @include light-button();
        float: right;
        margin-left: 0.5rem;
    }
}

.candidate-list {
    @include faint-shadow();
    margin-top: 1rem;
    padding: 1rem;
    background: lighten($background, 5%);

    h3 {
        margin: 0;
    }
}

.candidate {
    margin-bottom: 0.5rem;
    min-width: 30rem;
    $height: 3rem;

    svg {
        fill: $darkGray;
    }

    .candidate-buttons {
        @include illuminated-toggle-buttons();
    }

    .up-down {
        display: inline-block;
        width: 14%;
        .vote-count {
            float: right;
        }
        .up svg {
            transform: scaleY(-1);
        }
        svg {
            float: left;
        }
        button {
            height: $height / 2;
            padding: 0 0.6rem;
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    .voter-profile-images {
        position: absolute;
        bottom: 0;
    }
    .voter-profile-image {
        width: 1.3rem;
        border-radius: 100%;
        bottom: 0;
    }
    .vote-bars {
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;

        .vote-bar {
            height: 100%;
            transition: width 0.2s ease-in;
            float: left;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
        }
        .up-bar {
            background: $accent-cyan;
        }
        .down-bar {
            background: $accent-pink;
        }
    }

    .candidate-name {
        @include light-button();
        width: 72%;
        height: $height;
        position: relative;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    .candidate-text {
        position: relative;
        color: white;
        padding: 0.3rem 1rem 0.2rem 1rem;
        white-space: nowrap;
    }
    button.candidate-remove {
        width: 14%;
        height: $height;
    }

    .candidate-voters {
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
}
