@import 'colors';
@import 'mixins';

@media (min-width: 40rem) {
    .voter-panel {
        width: 35rem;
    }
}

.race-list {
    select {
        width: 62%;
        float: none;
    }
    .race-remove {
        @include light-button();
        float: right;
        margin-left: 0;
        height: auto;
        width: 13%;
    }
}

.candidate-list {
    @include faint-shadow();
    margin-top: 1rem;
    padding: 1rem;
    background: lighten($background, 5%);

    h3 {
        margin: 0;
    }
}

.candidate {
    $vote-buttons-width: 3rem;
    $remove-button-width: 2rem;
    margin-bottom: 0.5rem;
    $height: 3rem;

    svg {
        fill: $darkGray !important;
    }

    .candidate-buttons {
        @include illuminated-toggle-buttons();
    }

    .up-down {
        display: inline-block;
        width: $vote-buttons-width;
        float: left;

        .vote-count {
            float: right;
        }
        .up svg {
            transform: scaleY(-1);
        }
        .up, .down {
            &:hover svg {
                fill: $accent-mint !important;
            }
        }
        .up.vote-cast svg {
            fill: $accent-blue !important;
        }
        .down.vote-cast svg {
            fill: $accent-pink !important;
        }
        svg {
            float: left;
        }
        button {
            height: $height / 2;
            padding: 0 0.6rem;
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    .vote-count {
        margin-left: 0.5rem;
        vertical-align: top;
    }

    .voter-profile-images {
        position: absolute;
        bottom: 0;
        color: white;
    }
    .vote-bars {
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;

        .vote-bar {
            height: 100%;
            transition: width 0.2s ease-in;
            float: left;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
        }
        .up-bar {
            background: $accent-cyan;
        }
        .down-bar {
            background: $accent-pink;
        }
    }

    .candidate-name {
        @include light-button();
        height: $height;
        width: calc(100% - #{$vote-buttons-width} - #{$remove-button-width});
        position: relative;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    .candidate-text {
        position: relative;
        color: white;
        padding: 0.3rem 1rem 0.2rem 0.5rem;
        white-space: nowrap;
    }
    button.candidate-remove {
        width: $remove-button-width;
        height: $height;
        text-align: center;
        float: right;
        padding: 0;
    }

    .candidate-voters {
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
}
