@import 'colors';
@import 'mixins';

.voter-panel {
    min-width: 34rem;
}
.race-list {
    select {
        width: 62%;
        float: none;
    }
    .race-remove {
        @include light-button();
        float: right;
        margin-left: 0.5rem;
    }
}

.candidate-list {
    @include faint-shadow();
    margin-top: 1rem;
    padding: 1rem;
    background: lighten($background, 5%);

    h3 {
        margin: 0;
    }
}

.candidate {
    margin-bottom: 0.5rem;
    min-width: 30rem;

    .candidate-top-bar {
        $height: 2rem;
        font-size: 1.4rem;

        > * {
            line-height: $height;
            height: $height;
            display: inline-block;
            vertical-align: middle;
        }
    }

    svg {
        fill: $darkGray;
    }

    .candidate-buttons {
        @include illuminated-toggle-buttons();
    }

    button {
        &.vote-button {
            width: 86%;
        }
        &.candidate-remove {
            width: 14%;
        }
    }

    .candidate-voters {
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
}
