@import 'controls';
@import 'lights';
@import 'echo';
@import 'switchboard';
@import 'colors';
@import 'settings';
@import 'voter';
@import 'footer';


#svg-source {
    display: none;
}

* {
    box-sizing: border-box;
}
.hidden {
    display: none;
}
html {
    height: 100%;
    background: material-color('grey', '100');
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: material-color('grey', '100');
    margin: 0;
}

header {
    $boxShadowSettings: 0 0 2rem 0;
    $background: material-color($defaultTheme, '500');
    margin: 0 0 1rem 0;
    padding: 2rem 0;
    position: relative;
    background: $background;
    box-shadow: #{$boxShadowSettings} material-color('grey', '700');
    text-align: center;

    &.disconnected {
        background: red;

        h1 {
            color: white;
        }
    }

    svg, h1 {
        height: 6rem;
        vertical-align: middle;
    }
    h1 {
        display: inline-block;
        font-size: 3rem;
        color: material-color('grey', '200');
        position: relative;
        text-decoration: overline;
        text-transform: lowercase;
        margin: 0;
        transform: translateY(25%);

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.content {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.25rem;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.panel {
    @include faint-shadow();
    background-color: material-color('grey', '300');
    margin: 0.5rem;
    display: inline-block;

    &:not(.switch-panel) h2 {
        color: material-color('grey', '800');
        padding-left: 1rem;
    }
}

.panel-title {
    padding: 1rem;
    overflow: hidden;
    height: 5rem;

    h2 {
        margin: 0;
        display: inline-block;
    }
    svg {
        fill: material-color('grey', '800');
        margin-top: -4rem;
        width: 10rem;
        float: right;
    }
}

.sub-panel {
    background-color: material-color('grey', '200');
    border: none;
    padding: 1.5rem;
    color: material-color('grey', '800');

    &:not(:first-of-type) {
        padding-top: 0;
    }
}

.centered {
    text-align: center;
}
