@import 'controls';
@import 'lights';
@import 'echo';
@import 'toaster';
@import 'switchboard';
@import 'colors';
@import 'settings';
@import 'voter';
@import 'login';
@import 'header';
@import 'footer';
@import 'trancemaker';
@import 'loading';

#react-mount {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}

#svg-source {
    display: none;
}

* {
    box-sizing: border-box;
}
.hidden {
    display: none !important;
}
html {
    height: 100%;
    background: $background-dark;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: $background-dark;
    margin: 0;
}
textarea {
    background: $background-dark;
    font-family: 'Roboto', sans-serif;
    border: none;
    color: white;

    &[readonly] {
        background: transparent;
        outline: none;
    }
}

.content {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.25rem;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.panel {
    color: white;
    @include faint-shadow();
    margin: 0.5rem;
    display: inline-block;

    &:not(.switch-panel) h2 {
        color: white;
        padding-left: 1rem;
    }
}

.panel-title {
    padding: 1rem;
    overflow: hidden;
    position: relative;
    background: rgba($background-light, 0.95);

    h2 {
        margin: 0;
        display: inline-block;
    }
    //anything that isn't an svg should show over the top of the svg
    *:not(svg) {
        position: relative;
        z-index: 2;
    }

    svg {
        fill: $background-blue;
        margin-top: -3rem;
        width: 7rem;
        right: 0.5rem;
        position: absolute;
        z-index: 1;
    }
}

.sub-panel {
    background-color: rgba($background-dark, 0.95);
    border: none;
    padding: 1.5rem;
    color: white;

    + .sub-panel {
        padding-top: 0;
    }
}

.centered {
    text-align: center;
}

.columns {
    > .one-half:first-child {
        float: left;
    }
    > .one-half:last-child {
        float: right;
    }
    & + * {
        clear: both;
    }
}
.user-bubble {
    width: 1.3rem;
    border-radius: 100%;
    margin-right: 0.2rem;
}
