@import 'controls';
@import 'lights';
@import 'echo';
@import 'toaster';
@import 'switchboard';
@import 'colors';
@import 'settings';
@import 'voter';
@import 'login';
@import 'header';
@import 'footer';


#svg-source {
    display: none;
}

* {
    box-sizing: border-box;
}
.hidden {
    display: none !important;
}
html {
    height: 100%;
    background: $background;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: $background;
    margin: 0;
}
textarea {
    font-family: 'Roboto', sans-serif;
    background: $background;
    border: none;
    color: white;

    &[readonly] {
        background: transparent;
        outline: none;
    }
}

.content {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.25rem;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.panel {
    color: white;
    @include faint-shadow();
    margin: 0.5rem;
    display: inline-block;
    background: $lateNeon;

    &:not(.switch-panel) h2 {
        color: white;
        padding-left: 1rem;
    }
}

.panel-title {
    padding: 1rem;
    overflow: hidden;
    height: 5rem;

    h2 {
        margin: 0;
        display: inline-block;
    }
    svg {
        fill: darken($background, 5%);
        margin-top: -4rem;
        width: 10rem;
        float: right;
    }
}

.sub-panel {
    background-color: darken($background, 5%);
    border: none;
    padding: 1.5rem;
    color: white;

    + .sub-panel {
        padding-top: 0;
    }
}

.centered {
    text-align: center;
}

.columns {
    > .one-half:first-child {
        float: left;
    }
    > .one-half:last-child {
        float: right;
    }
    & + * {
        clear: both;
    }
}
